.md-snackbar {
	background: var(--inverse-surface);
    color: var(--inverse-on-surface);
    box-shadow: var(--elevation-3);
    border-radius: 4px;
    height: clamp(48px, 48px, 68px);
    padding: 0 8px 0 16px;
    display: grid;
	gap: 12px;
	grid-auto-flow: column;
    align-items: center;
	user-select: none;
    &>.label {
        font: var(--body-medium-font);
        letter-spacing: var(--body-medium-letter-spacing);
    }
	&>.md-button>.label { color: var(--inverse-primary);}
	&>.md-icon-button>.icon { color: var(--inverse-on-surface);}
}