.default {
    --primary: #7d00fa;
    --on-primary: #ffffff;
    --primary-container: #ecdcff;
    --on-primary-container: #270057;
    --primary-fixed: #ecdcff;
    --on-primary-fixed: #270057;
    --primary-fixed-dim: #d5baff;
    --on-primary-fixed-variant: #5e00c1;
    --secondary: #a900a9;
    --on-secondary: #ffffff;
    --secondary-container: #ffd7f5;
    --on-secondary-container: #380038;
    --secondary-fixed: #ffd7f5;
    --on-secondary-fixed: #380038;
    --secondary-fixed-dim: #ffabf3;
    --on-secondary-fixed-variant: #810081;
    --tertiary: #343dff;
    --on-tertiary: #ffffff;
    --tertiary-container: #e0e0ff;
    --on-tertiary-container: #00006e;
    --tertiary-fixed: #e0e0ff;
    --on-tertiary-fixed: #00006e;
    --tertiary-fixed-dim: #bec2ff;
    --on-tertiary-fixed-variant: #0000ef;
    --error: #b81f1e;
    --error-container: #ffdad6;
    --on-error: #ffffff;
    --on-error-container: #410002;
    --background: #fffbff;
    --on-background: #1d1b1e;
    --outline: #7b757f;
    --inverse-on-surface: #f5eff4;
    --inverse-surface: #322f33;
    --inverse-primary: #d5baff;
    --shadow: #000000;
    --surface-tint: #7d00fa;
    --outline-variant: #cbc4cf;
    --scrim: #000000;
    --surface: #fef7fc;
    --on-surface: #1d1b1e;
    --surface-variant: #e8e0eb;
    --on-surface-variant: #49454e;
    --surface-container-highest: #e7e1e5;
    --surface-container-high: #ede6eb;
    --surface-container: #f3ecf1;
    --surface-container-low: #f8f2f6;
    --surface-container-lowest: #ffffff;
    --surface-dim: #ded8dd;
    --surface-bright: #fef7fc;
}
.default.dark {
    --primary: #d5baff;
    --on-primary: #42008a;
    --primary-container: #5e00c1;
    --on-primary-container: #ecdcff;
    --primary-fixed: #ecdcff;
    --on-primary-fixed: #270057;
    --primary-fixed-dim: #d5baff;
    --on-primary-fixed-variant: #5e00c1;
    --secondary: #ffabf3;
    --on-secondary: #5b005b;
    --secondary-container: #810081;
    --on-secondary-container: #ffd7f5;
    --secondary-fixed: #ffd7f5;
    --on-secondary-fixed: #380038;
    --secondary-fixed-dim: #ffabf3;
    --on-secondary-fixed-variant: #810081;
    --tertiary: #bec2ff;
    --on-tertiary: #0001ac;
    --tertiary-container: #0000ef;
    --on-tertiary-container: #e0e0ff;
    --tertiary-fixed: #e0e0ff;
    --on-tertiary-fixed: #00006e;
    --tertiary-fixed-dim: #bec2ff;
    --on-tertiary-fixed-variant: #0000ef;
    --error: #ffb4ab;
    --error-container: #93000a;
    --on-error: #690005;
    --on-error-container: #ffdad6;
    --background: #1d1b1e;
    --on-background: #e7e1e5;
    --outline: #958e99;
    --inverse-on-surface: #1d1b1e;
    --inverse-surface: #e7e1e5;
    --inverse-primary: #7d00fa;
    --shadow: #000000;
    --surface-tint: #d5baff;
    --outline-variant: #49454e;
    --scrim: #000000;
    --surface: #151316;
    --on-surface: #cbc5c9;
    --surface-variant: #49454e;
    --on-surface-variant: #cbc4cf;
    --surface-container-highest: #373438;
    --surface-container-high: #2c292d;
    --surface-container: #211f22;
    --surface-container-low: #1d1b1e;
    --surface-container-lowest: #0f0d11;
    --surface-dim: #151316;
    --surface-bright: #3b383c;
}

.green {
    --primary: #386a1f;
    --on-primary: #ffffff;
    --primary-container: #b8f397;
    --on-primary-container: #072100;
    --primary-fixed: #b8f397;
    --on-primary-fixed: #072100;
    --primary-fixed-dim: #9cd67e;
    --on-primary-fixed-variant: #205107;
    --secondary: #376a20;
    --on-secondary: #ffffff;
    --secondary-container: #b7f397;
    --on-secondary-container: #072100;
    --secondary-fixed: #b7f397;
    --on-secondary-fixed: #072100;
    --secondary-fixed-dim: #9cd67e;
    --on-secondary-fixed-variant: #205107;
    --tertiary: #00696c;
    --on-tertiary: #ffffff;
    --tertiary-container: #6ff6fa;
    --on-tertiary-container: #002021;
    --tertiary-fixed: #6ff6fa;
    --on-tertiary-fixed: #002021;
    --tertiary-fixed-dim: #4cdadd;
    --on-tertiary-fixed-variant: #004f51;
    --error: #b4271f;
    --error-container: #ffdad5;
    --on-error: #ffffff;
    --on-error-container: #410001;
    --background: #fcfdf6;
    --on-background: #1a1c18;
    --outline: #73796e;
    --inverse-on-surface: #f1f1eb;
    --inverse-surface: #2f312d;
    --inverse-primary: #9cd67e;
    --shadow: #000000;
    --surface-tint: #386a1f;
    --outline-variant: #c3c8bb;
    --scrim: #000000;
    --surface: #f9faf3;
    --on-surface: #1a1c18;
    --surface-variant: #dfe4d7;
    --on-surface-variant: #43483f;
    --surface-container-highest: #e2e3dd;
    --surface-container-high: #e8e9e2;
    --surface-container: #eeeee8;
    --surface-container-low: #f4f4ed;
    --surface-container-lowest: #ffffff;
    --surface-dim: #dadad4;
    --surface-bright: #f9faf3;
}

.green.dark {
    --primary: #9cd67e;
    --on-primary: #113800;
    --primary-container: #205107;
    --on-primary-container: #b8f397;
    --primary-fixed: #b8f397;
    --on-primary-fixed: #072100;
    --primary-fixed-dim: #9cd67e;
    --on-primary-fixed-variant: #205107;
    --secondary: #9cd67e;
    --on-secondary: #103800;
    --secondary-container: #205107;
    --on-secondary-container: #b7f397;
    --secondary-fixed: #b7f397;
    --on-secondary-fixed: #072100;
    --secondary-fixed-dim: #9cd67e;
    --on-secondary-fixed-variant: #205107;
    --tertiary: #4cdadd;
    --on-tertiary: #003738;
    --tertiary-container: #004f51;
    --on-tertiary-container: #6ff6fa;
    --tertiary-fixed: #6ff6fa;
    --on-tertiary-fixed: #002021;
    --tertiary-fixed-dim: #4cdadd;
    --on-tertiary-fixed-variant: #004f51;
    --error: #ffb4aa;
    --error-container: #910809;
    --on-error: #690003;
    --on-error-container: #ffdad5;
    --background: #1a1c18;
    --on-background: #e2e3dd;
    --outline: #8d9287;
    --inverse-on-surface: #1a1c18;
    --inverse-surface: #e2e3dd;
    --inverse-primary: #386a1f;
    --shadow: #000000;
    --surface-tint: #9cd67e;
    --outline-variant: #43483f;
    --scrim: #000000;
    --surface: #121410;
    --on-surface: #c6c7c1;
    --surface-variant: #43483f;
    --on-surface-variant: #c3c8bb;
    --surface-container-highest: #333531;
    --surface-container-high: #282b27;
    --surface-container: #1e201c;
    --surface-container-low: #1a1c18;
    --surface-container-lowest: #0d0f0b;
    --surface-dim: #121410;
    --surface-bright: #383a36;
}

/* .apis.light { */
.apis {
    --primary: #215fa6;
    --on-primary: #ffffff;
    --primary-container: #d5e3ff;
    --on-primary-container: #001c3b;
    --primary-fixed: #d5e3ff;
    --on-primary-fixed: #001c3b;
    --primary-fixed-dim: #a6c8ff;
    --on-primary-fixed-variant: #004787;
    --secondary: #494ecb;
    --on-secondary: #ffffff;
    --secondary-container: #e1e0ff;
    --on-secondary-container: #03006d;
    --secondary-fixed: #e1e0ff;
    --on-secondary-fixed: #03006d;
    --secondary-fixed-dim: #bfc1ff;
    --on-secondary-fixed-variant: #2f33b3;
    --tertiary: #006d42;
    --on-tertiary: #ffffff;
    --tertiary-container: #85f9b7;
    --on-tertiary-container: #002111;
    --tertiary-fixed: #85f9b7;
    --on-tertiary-fixed: #002111;
    --tertiary-fixed-dim: #68dc9d;
    --on-tertiary-fixed-variant: #005231;
    --error: #ba1a1a;
    --error-container: #ffdad6;
    --on-error: #ffffff;
    --on-error-container: #410002;
    --background: #fdfbff;
    --on-background: #1a1b1e;
    --outline: #73777f;
    --inverse-on-surface: #f1f0f4;
    --inverse-surface: #2f3033;
    --inverse-primary: #a6c8ff;
    --shadow: #000000;
    --surface-tint: #215fa6;
    --outline-variant: #c3c6cf;
    --scrim: #000000;
    --surface: #faf9fd;
    --on-surface: #1a1b1e;
    --surface-variant: #dfe2eb;
    --on-surface-variant: #43474e;
    --surface-container-highest: #e3e2e6;
    --surface-container-high: #e9e7eb;
    --surface-container: #eeedf1;
    --surface-container-low: #f4f3f7;
    --surface-container-lowest: #ffffff;
    --surface-dim: #dad9dd;
    --surface-bright: #faf9fd;
}

.apis.dark {
    --primary: #a6c8ff;
    --on-primary: #00305f;
    --primary-container: #004787;
    --on-primary-container: #d5e3ff;
    --primary-fixed: #d5e3ff;
    --on-primary-fixed: #001c3b;
    --primary-fixed-dim: #a6c8ff;
    --on-primary-fixed-variant: #004787;
    --secondary: #bfc1ff;
    --on-secondary: #12119e;
    --secondary-container: #2f33b3;
    --on-secondary-container: #e1e0ff;
    --secondary-fixed: #e1e0ff;
    --on-secondary-fixed: #03006d;
    --secondary-fixed-dim: #bfc1ff;
    --on-secondary-fixed-variant: #2f33b3;
    --tertiary: #68dc9d;
    --on-tertiary: #003920;
    --tertiary-container: #005231;
    --on-tertiary-container: #85f9b7;
    --tertiary-fixed: #85f9b7;
    --on-tertiary-fixed: #002111;
    --tertiary-fixed-dim: #68dc9d;
    --on-tertiary-fixed-variant: #005231;
    --error: #ffb4ab;
    --error-container: #93000a;
    --on-error: #690005;
    --on-error-container: #ffdad6;
    --background: #1a1b1e;
    --on-background: #e3e2e6;
    --outline: #8d9199;
    --inverse-on-surface: #1a1b1e;
    --inverse-surface: #e3e2e6;
    --inverse-primary: #215fa6;
    --shadow: #000000;
    --surface-tint: #a6c8ff;
    --outline-variant: #43474e;
    --scrim: #000000;
    --surface: #121316;
    --on-surface: #c7c6ca;
    --surface-variant: #43474e;
    --on-surface-variant: #c3c6cf;
    --surface-container-highest: #343538;
    --surface-container-high: #292a2d;
    --surface-container: #1e2023;
    --surface-container-low: #1a1b1e;
    --surface-container-lowest: #0d0e11;
    --surface-dim: #121316;
    --surface-bright: #38393c;
}